body {
    background-color: lightpink;
    margin: 0px;
}

h1 {
    font-family: monospace;
    text-align: center;
    font-size: 48pt;
    color: #fff6e6;

}

h5 {
    font-family: monospace;
    font-size: x-large;
    font-weight: bolder;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

#navigation {
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.nav-li {
    display: inline;
    padding: 20px;
    background-color: #ff9e9e;
    border-radius: 5px;
}

.nav-a {
    text-decoration: none;
    font-family: monospace;
    font-size: x-large;
    color: #fff6e6;
    transition: 0.2s;
}

.nav-a:hover {
    color: #ff3e3e;
    font-size: 200%;
    transition: 0.2s;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ec85e7;
    transition: 0.2s;
}

.square:hover {
    width: 90px;
    height: 90px;
    background-color: #85ecec;
    transition: 0.2s;
}

#page {
    min-height: 100%;
    position: relative;
}

#content {
    height: 100px;
    margin-bottom: 220px;
    /* should be height of #footer + 20 for spacing */
}

#footer {
    background-color: #ff899e;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 200px;
}

#footer-content{
    position: fixed;
    width: 100%;
    bottom: 0px;
}

#footer-left{
    float:left;
    width: 70%;
}

#footer-ll{
    float:left;
    width:50%;
}

#footer-lr{
    float: right;
    width:50%;
}


#footer-right{
    float: right;
    width: 30%;
}



#addr-ul{
    font-size:large;
    list-style-type: none;
    font-family: monospace;
    font-weight: bold;
    color: #ffc4d1;
}


.footer-icon{
    margin: 10px;
    height: 40px;
}
